span {
  margin: 0 auto;
}

.container-fluid {
  background-color: #1a1a1d;
  height: 100%;
}

.home-content {
  width: 100%;
  height: 100%;
  padding: 0px 70px;
}

.buttons-row {
  display: inline-flex;
  width: 100%;
}

.buttons-row > * {
  margin-left: 30px;
}

.button {
  display: flex;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 6px;
  align-items: center;
}

#edit-btn {
  color: grey;
  box-shadow: 0 0 1pt 1pt grey;
  font-weight: 900;
}

#edit-btn:hover {
  color: white;
  background-color: grey;
  box-shadow: 0 0 1pt 1pt white;
}

#start-btn {
  color: green;
  box-shadow: 0 0 1pt 1pt green;
  font-weight: 900;
}

#start-btn:hover {
  color: white;
  background-color: green;
  box-shadow: 0 0 1pt 1pt white;
}

#stop-btn {
  color: gold;
  box-shadow: 0 0 1pt 1pt gold;
  font-weight: 900;
}

#stop-btn:hover {
  color: white;
  background-color: gold;
  box-shadow: 0 0 1pt 1pt white;
}

#create-btn {
  color: violet;
  box-shadow: 0 0 1pt 1pt violet;
  font-weight: 900;
}

#create-btn:hover {
  color: white;
  background-color: violet;
  box-shadow: 0 0 1pt 1pt white;
}

#delete-btn {
  color: red;
  box-shadow: 0 0 1pt 1pt red;
  font-weight: 900;
}

#delete-btn:hover {
  color: white;
  background-color: red;
  box-shadow: 0 0 1pt 1pt white;
}

.task-row {
  display: flex;
}

.task-title {
  background-color: #202335;
  width: 100%;
  margin: 10px 0px;
  color: #fff;
  font-size: 18px;
  display: flex;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task-title > span:nth-child(1) {
  padding-left: 10px;
  flex: 5%;
  border-right: 2px solid rgb(253, 253, 253);
}

.task-title > span:nth-child(2) {
  padding-left: 20px;
  flex: 30%;
  border-right: 2px solid rgb(253, 253, 253);
}

.task-title > span:nth-child(3) {
  padding-left: 20px;
  flex: 20%;
  border-right: 2px solid rgb(253, 253, 253);
}

.task-title > span:nth-child(4) {
  padding-left: 20px;
  flex: 35%;
  border-right: 2px solid rgb(253, 253, 253);
}

.task-title > span:nth-child(5) {
  padding-left: 20px;
  flex: 10%;
}

.task-box {
  display: inline-block;
  height: 80vh;
  width: 100%;
  overflow-y: auto;
}

.task-bar {
  background-color: #202335;
  display: flex;
  color: #fff;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  margin-bottom: 4px;
}

.task-bar > span:nth-child(1) {
  padding-left: 10px;
  flex: 5%;
}

.task-bar > span:nth-child(2) {
  padding-left: 20px;
  flex: 30%;
}

.task-bar > span:nth-child(3) {
  padding-left: 20px;
  flex: 20%;
}

.task-bar > span:nth-child(4) {
  padding-left: 20px;
  flex: 35%;
}

.action-buttons {
  display: flex;
  flex: 10%;
}
.action-buttons > span:nth-child(1) {
  color: green;
  display: grid;
}

.action-buttons > span:nth-child(1):hover {
  cursor: pointer;
  opacity: 0.6;
}

.action-buttons > span:nth-child(2) {
  color: red;
  display: grid;
}

.action-buttons > span:nth-child(2):hover {
  cursor: pointer;
  opacity: 0.6;
}

.action-buttons > span:nth-child(3) {
  color: grey;
  display: grid;
}

.action-buttons > span:nth-child(3):hover {
  cursor: pointer;
  opacity: 0.6;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #202335;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #272729;
}
