.settings-content {
  width: 100%;
  height: 100%;
  padding: 0px 70px;
}

.tcard {
  align-items: center;
  height: 100%;
}

#group-area-2 {
  background-color: #151725;
  border-radius: 6px;
  width: 100%;
  height: 85vh;
  color: white;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

#save-btn {
  color: green;
  box-shadow: 0 0 1pt 1pt green;
  font-weight: 900;
}

#save-btn:hover {
  color: white;
  background-color: green;
  box-shadow: 0 0 1pt 1pt white;
}

#remove-btn {
  color: red;
  box-shadow: 0 0 1pt 1pt red;
  font-weight: 900;
}

#remove-btn:hover {
  color: white;
  background-color: red;
  box-shadow: 0 0 1pt 1pt white;
}
